// @import "compass";
@import 'variables';
// mixin
@import 'mixin/layout';
@import 'mixin/function';

@import url("https://use.fontawesome.com/releases/v5.7.0/css/all.css");
//https://fonts.google.com/
// @import url(https://fonts.googleapis.com/css?family=Sawarabi+Mincho); // 日本的明體
// @import url(https://fonts.googleapis.com/earlyaccess/cwtexming.css); // 思源明體
// @import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css); // 思源圓體
// @import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css); // 思源宋體
// @import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css); // 思源楷體
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css); // 思源黑體

// sans-serif 沒有（法文） 襯線
// serif 襯線

// font-family: 'cwTeXYen', serif; // 思源明體
// font-family: 'cwTeXMing', serif; // 思源圓體
// font-family: 'Sawarabi Mincho', serif; // 日本的明體
// font-family: 'cwTeXFangSong', serif; // 思源宋體
// font-family: 'cwTeXKai', serif; // 思源楷體
// font-family: ‘Noto Sans TC’, sans-serif;

// plugin style
@import '../../../../../../bower_components/slick-carousel/slick/slick.scss';


// base
@import 'base/rwd';
@import 'base/layout';
// @import 'base/grid'; //$point???
@import 'base/module';
@import 'base/button';
@import 'layout/nav';

// reset
@import 'normalize';



// $fontfamily: ‘Noto Sans TC’, sans-serif;
$fontfamily: ‘微軟正黑體’, Arial, sans-serif;


.vertical-center {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    display: table;
}
.vertical-center > * {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    word-break: break-all;
}
.full{
    @include basic(
        absolute,
        100%,
        100%,
        0,
        0
    )
}
.full-x{
    @include basic(
        relative,
        100%,
        auto,
        0,
        0
    )
}
body{
    background-color: #f9f9f9;
}
.header{
	@include L(
		(
			'.header':(
				height: 147px
			)
		)
	)
	@include M(
		(
			'.header':(
				height: auto
			)
		)
	)
	@include S(
		(
			'.header':(
				height: auto
			)
		)
    )
}
.header{
    .center-limit{
        overflow: visible;
    }
}
.center-limit{
    position: relative;
    height: auto;
    left: 0;
    top: 0;
    margin: 0 auto;
    // background-color: rgba( 2, 208, 255, 0.05);
    box-sizing: border-box;
    overflow: hidden;
	@include L(
		(
			'.center-limit':(
				width: 1200px,
                padding: 0 15px
            )
		)
	)
	@include M(
		(
			'.center-limit':(
				width: 100%,
                padding: 0 15px
            )
		)
	)
	@include S(
		(
			'#header-top .center-limit':(
				width: 100%,
                padding: 0 46px
            )
		)
	)
	@include L(
		(
			'#header-top .center-limit':(
				width: 1200px,
                padding: 0 46px
            )
		)
	)
	@include M(
		(
			'#header-top .center-limit':(
				width: 100%,
                padding: 0 46px
            )
		)
	)
	@include S(
		(
			'#header-main .center-limit':(
				width: 100%,
                padding: 0 46px
            )
		)
	)
	@include L(
		(
			'#header-main .center-limit':(
				width: 1200px,
                padding: 0 46px
            )
		)
	)
	@include M(
		(
			'#header-main .center-limit':(
				width: 100%,
                padding: 0 46px
            )
		)
	)
	@include S(
		(
			'.center-limit':(
				width: 100%,
                padding: 0 15px
            )
		)
	)
}
#mail-info{
    font-family: $fontfamily;
    color: #a5a5a5;
	@include L(
		(
			'#mail-info':(
				height: 50px,
                font-size: 18px,
                line-height: 50px,
                white-space: pre,
                text-align: right
			)
		)
	)
	@include M(
		(
			'#mail-info':(
				height: 30px,
                font-size: 16px,
                line-height: 30px,
                text-align: center
			)
		)
	)
	@include S(
		(
			'#mail-info':(
				height: 30px,
                font-size: 14px,
                line-height: 30px,
                text-align: center
			)
		)
	)
    a{
        color: inherit;
        font-family: inherit;
        font-size: inherit;
    }
	@include L(
		(
			'#mail-info span':(
				display: none
			)
		)
	)
	@include M(
		(
			'#mail-info span':(
                display: inline-block,
                width: 20px
			)
		)
	)
	@include S(
		(
			'#mail-info span':(
                display: inline-block,
                width: 20px
			)
		)
	)
}
#header-top{
    position: relative;
    background-color: #eee;
    z-index: 1;
}
#header-main{
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	@include L(
		(
			'#header-main':(
				height: 97px
			)
		)
	)
	@include M(
		(
			'#header-main':(
				height: 67px
			)
		)
	)
	@include S(
		(
			'#header-main':(
				height: 67px
			)
		)
    )
    .center-limit{
        height: 100%;
    }
}
#burger{
    background-color: #fff;
	@include L(
		(
			'#burger':(
			)
		)
	)
	@include M(
		(
			'#burger':(
                display: block,
                width: 67px,
                top: 30px
			)
		)
	)
	@include S(
		(
			'#burger':(
                display: block,
                width: 67px,
                top: 30px
			)
		)
	)
}
.burger_line{
    background-color: #1e8993;
}
.burger_x{
    background-color: #1e8993;
}
#logo{
    position: absolute;
    height: auto;
    top: 0;
    bottom: 0;
    margin: auto 0;
	@include L(
		(
			'#logo':(
                width: 184px,
                left: 32px
			)
		)
	)
	@include M(
		(
			'#logo':(
                width: 164px,
                left: 22px
			)
		)
	)
	@include S(
		(
			'#logo':(
                width: 164px,
                left: 22px
			)
		)
	)
}
#nav-list{
    height: 100%;
    z-index: 1;
    p{
        font-size: inherit;
    }
    @include L(
        (
            '#nav-list':(
                position: relative,
                float: right,
                display: inline-block
            )
        )
    )
    @include M(
        (
            '#nav-list':(
                position: fixed,
                background-color: #fff,
                width: 100vw,
                height: calc( 100vh - 67px - 30px ),
                left: 50%,
                top: -150vh,//67px,
                margin-left: calc( -0.5 * 100vw),
                border-top: 1px solid #eee
            )
        )
    )
    @include S(
        (
            '#nav-list':(
                position: fixed,
                background-color: #fff,
                width: 100vw,
                height: calc( 100vh - 67px - 30px ),
                left: 50%,
                top: -150vh,//67px,
                margin-left: calc( -0.5 * 100vw),
                border-top: 1px solid #eee
            )
        )
    )
    .nav-item{
        position: relative;
        font-family: $fontfamily;
        font-weight: normal;
        color: #797979;
        cursor: pointer;
        user-select: none;
        @include L(
            (
                '.nav-item':(
                    width: 70px,
                    height: 100%,
                    float: left,
                    margin-left: 15px,
                    font-size: 18px
                )
            )
        )
        @include M(
            (
                '.nav-item':(
                    width: 100%,
                    height: 80px,
                    font-size: 21px
                )
            )
        )
        @include S(
            (
                '.nav-item':(
                    width: 100%,
                    height: 80px,
                    font-size: 21px
                )
            )
        )
        @include L(
            (
                '.nav-item::last-child':(
                    width: 34px
                )
            )
        )
        @include M(
            (
                '.nav-item::last-child':(
                )
            )
        )
        @include S(
            (
                '.nav-item::last-child':(
                )
            )
        )
        p{
            &:after{
                content: "";
                position: absolute;
                display: block;
                width: 20px;
                height: 3px;
                left: 0px;
                right: 0px;
                top: auto;
                margin: 18px auto 0 auto;
                background-color: #1e8993;
                opacity: 0;
                transition: all 0.2s 0s;
            }
        }
        &.active{
            p{
                &:after{
                    opacity: 1;
                }
            }
        }
    }
}
.pc{
    #nav-list .nav-item{
        &:hover{
            p{
                &:after{
                    opacity: 1;
                }
            }
        }
    }
}
.slick-slide{
    img{
        &.banner {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}
#banner {
    position: relative;
    top: 0px;
    opacity: 0;
    *{
        outline: none !important;
    }
    @include L(
        (
            '#banner':(
                margin-top: 147px,
                margin-left: -15px + ( 0.5 * ( 1200px - 1172px ) ),
                margin-right: -15px + ( 0.5 * ( 1200px - 1172px ) )
            )
        )
    )
    @include M(
        (
            '#banner':(
                margin-top: 67px + 30px ,
                margin-left: -15px + ( 0.5 * ( 1200px - 1172px ) ),
                margin-right: -15px + ( 0.5 * ( 1200px - 1172px ) )
            )
        )
    )
    @include S(
        (
            '#banner':(
                margin-top: 67px + 30px ,
                margin-left: -15px + ( 0.5 * ( 1200px - 1172px ) ),
                margin-right: -15px + ( 0.5 * ( 1200px - 1172px ) )
            )
        )
    )
    &.show {
        opacity: 1;
        transition: opacity 0.3s 0s ease-out;
    }
}

.anti-margin{
    @include L(
        (
            '.anti-margin':(
                margin-left: -15px,
                margin-right: -15px
            )
        )
    )
    @include M(
        (
            '.anti-margin':(
                margin-left: -15px,
                margin-right: -15px
            )
        )
    )
    @include S(
        (
            '.anti-margin':(
                margin-left: -15px,
                margin-right: -15px
            )
        )
    )
}

#banner_preview {
    margin-left: -15px;
    margin-right: -15px;
    @include L(
        (
            '#banner_preview':(
                margin-top: 147px
            )
        )
    )
    @include M(
        (
            '#banner_preview':(
                margin-top: 147px
            )
        )
    )
    @include S(
        (
            '#banner_preview':(
                margin-top: 147px
            )
        )
    )
    img {
        position: relative;
        display: block;
        margin: 0px auto;
        &.banner_preview_pc {
            display: block;
        }
        &.banner_preview_m {
            display: none;
        }
    }
}
.slick-dots {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
    bottom: 0px;
}

.slick-list:focus {
    outline: none;
}
.slick-dots li button:before {
    font-family: 'slick';
    font-size: 17px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 1;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #1e8993;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 20px;
    margin: 0 0px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    text-shadow: 0px 0px 5px #ddd;
}
#main-title{
    position: relative;
    font-family: $fontfamily;
    font-weight: 700;
    color: #797979;
    text-align: center;
    line-height: 1.5;
	@include L(
		(
			'#main-title':(
                font-size: 31px,
                margin: 118px auto 118px auto
            )
		)
	)
	@include M(
		(
			'#main-title':(
                font-size: 31px,
                margin: 118px auto 118px auto
            )
		)
	)
	@include S(
		(
			'#main-title':(
                font-size: 31px,
                margin: 110px auto 110px auto
            )
		)
	)
	@include L(
		(
			'#main-title br':(
                display: none
            )
		)
	)
	@include M(
		(
			'#main-title br':(
                display: inline
            )
		)
	)
	@include S(
		(
			'#main-title br':(
                display: inline
            )
		)
	)
}
.float-box{
    position: relative;
    width: auto;
    left: 0;
    top: 0;
    &:after{
        content: "";
        position: relative;
        clear: both;
        display: block;
    }
}
.word-box{
    position: relative;
    left: 0;
    top: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    font-family: $fontfamily;
    font-weight: 700;
    background-color: #fff;
	@include L(
		(
			'.word-box':(
                width: 372px,
                height: 609px,
                margin: ( 1200px - 3 * 372px ) / 6,
                float: left
            )
		)
	)
	@include M(
		(
			'.word-box':(
                width: 372px,
                height: 609px,
                margin: 0 auto 30px auto
            )
		)
	)
	@include S(
		(
			'.word-box':(
                width: 372px,
                height: 609px,
                margin: 0 auto 30px auto
            )
		)
    )
    h3{
        color: #1e8993;
        font-size: 31px;
        text-align: center;
        line-height: (47/28);
        box-sizing: border-box;
        @include L(
            (
                '.word-box h3':(
                    height: 166px,
                    padding: 52px 0 24px 0
                )
            )
        )
        @include M(
            (
                '.word-box h3':(
                    height: 166px,
                    padding: 52px 0 24px 0
                )
            )
        )
        @include S(
            (
                '.word-box h3':(
                    height: 166px,
                    padding: 52px 0 24px 0
                )
            )
        )
    }
    p{
        font-family: $fontfamily;
        font-weight: normal;
        color: #797979;
        line-height: ( 34 / 20 );
        text-align: justify;
        @include L(
            (
                '.word-box p':(
                    font-size: 20px,
                    padding: 0 32px
                )
            )
        )
        @include M(
            (
                '.word-box p':(
                    font-size: 20px,
                    padding: 0 32px
                )
            )
        )
        @include S(
            (
                '.word-box p':(
                    font-size: 20px,
                    padding: 0 32px
                )
            )
        )
    }
}
.sub-title{
    position: relative;
    font-family: $fontfamily;
    font-weight: 700;
    color: #797979;
    text-align: center;
    line-height: 1.5;
	@include L(
		(
			'.sub-title':(
                font-size: 31px,
                margin: 89px auto 79px auto
            )
		)
	)
	@include M(
		(
			'.sub-title':(
                font-size: 31px,
                margin: 89px auto 79px auto
            )
		)
	)
	@include S(
		(
			'.sub-title':(
                font-size: 31px,
                margin: 89px auto 79px auto
            )
		)
	)
    &:after{
        content: "";
        position: absolute;
        display: block;
        width: 34px;
        height: 5px;
        left: 0px;
        right: 0px;
        top: auto;
        margin: 13px auto 0 auto;
        background-color: #1e8993;
    }
}
#ta{
    position: relative;
    display: block;
	@include L(
		(
			'#ta':(
                margin-left: 24px,
                float: left
            )
		)
	)
	@include M(
		(
			'#ta':(
                margin-left: 24px,
                margin: 0 auto
            )
		)
	)
	@include S(
		(
			'#ta':(
                margin-left: 24px,
                margin: 0 auto
            )
		)
	)
}
.hide-small{
	@include L(
		(
			'.hide-small':(
                display: none
            )
		)
	)
	@include M(
		(
			'.hide-small':(
                display: inline
            )
		)
	)
	@include S(
		(
			'.hide-small':(
                display: inline
            )
		)
	)
}
#ta-list{
    position: relative;
    li{
        font-family: $fontfamily;
        font-weight: normal;
        color: #797979;
        line-height: 1.5;
        @include L(
            (
                '#ta-list':(
                    top: -9px,
                    float: left
                )
            )
        )
        @include M(
            (
                '#ta-list':(
                    top: -9px,
                    margin: 50px auto 0 auto,
                    width: 372px
                )
            )
        )
        @include S(
            (
                '#ta-list':(
                    top: -9px,
                    margin: 50px auto 0 auto,
                    width: 372px
                )
            )
        )
        @include L(
            (
                '#ta-list li':(
                    font-size: 22px,
                    margin: auto auto 18px 0px
                )
            )
        )
        @include M(
            (
                '#ta-list li':(
                    font-size: 22px,
                    margin: auto auto 18px 0px
                )
            )
        )
        @include S(
            (
                '#ta-list li':(
                    font-size: 22px,
                    margin: auto auto 18px 0px
                )
            )
        )
        span{
            color: #1e8993;
            display: inline-block;
            width: 15px;
            text-align: right;
            margin: 0 6px 0 -21px;
        }
    }
}
#dont-worry{
    position: relative;
    font-family: $fontfamily;
    font-weight: 700;
    color: #1e8993;
    text-align: center;
    line-height: 1.5;
	@include L(
		(
			'#dont-worry':(
                font-size: 28px,
                margin: 67px auto 79px auto
            )
		)
	)
	@include M(
		(
			'#dont-worry':(
                font-size: 28px,
                margin: 67px auto 79px auto
            )
		)
	)
	@include S(
		(
			'#dont-worry':(
                font-size: 28px,
                margin: 67px auto 79px auto
            )
		)
	)
}

#syllabus{
    position: relative;
    display: block;
	@include L(
		(
			'#syllabus':(
                margin-left: 99px,
                float: left
            )
		)
	)
	@include M(
		(
			'#syllabus':(
                margin-left: 99px,
                margin: 0 auto
            )
		)
	)
	@include S(
		(
			'#syllabus':(
                margin-left: 99px,
                margin: 0 auto
            )
		)
	)
}

#syllabus-list{
    position: relative;
    li{
        font-family: $fontfamily;
        font-weight: normal;
        color: #797979;
        line-height: 1.5;
        @include L(
            (
                '#syllabus-list':(
                    top: -9px,
                    float: left
                )
            )
        )
        @include M(
            (
                '#syllabus-list':(
                    top: -9px,
                    margin: 50px auto 0 auto,
                    width: 372px
                )
            )
        )
        @include S(
            (
                '#syllabus-list':(
                    top: -9px,
                    margin: 50px auto 0 auto,
                    width: 372px
                )
            )
        )
        @include L(
            (
                '#syllabus-list li':(
                    font-size: 22px,
                    margin: auto auto 18px 72px
                )
            )
        )
        @include M(
            (
                '#syllabus-list li':(
                    font-size: 22px,
                    margin: auto auto 18px 0
                )
            )
        )
        @include S(
            (
                '#syllabus-list li':(
                    font-size: 22px,
                    margin: auto auto 18px 0
                )
            )
        )
        span{
            color: #1e8993;
        }
    }
    >li{
        >span{
            display: inline-block;
            width: 34px;
            text-align: right;
            margin: 0 5px 0 -40px;
        }
        >ul{
            padding-top: 18px;
            >li{
                margin-left: 24px;
                >span{
                    display: inline-block;
                    width: 34px;
                    text-align: right;
                    margin: 0 5px 0 -40px;
                }
            }
        }
    }
}
#course-time{
    position: relative;
    display: block;
	@include L(
		(
			'#course-time':(
                margin-left: 134px,
                float: left
            )
		)
	)
	@include M(
		(
			'#course-time':(
                margin: 0 auto
            )
		)
	)
	@include S(
		(
			'#course-time':(
                margin: 0 auto
            )
		)
	)
}
#course-box{
    position: relative;
    @include L(
        (
            '#course-box':(
                top: -9px,
                margin: auto auto 18px 96px,
                float: left
            )
        )
    )
    @include M(
        (
            '#course-box':(
                top: -9px,
                margin: 50px auto 18px auto,
                width: 372px
            )
        )
    )
    @include S(
        (
            '#course-box':(
                top: -9px,
                margin: 50px auto 18px auto,
                width: 372px
            )
        )
    )
}
.course-item{
    @include L(
        (
            '.course-item{':(
                margin-bottom: 26px
            )
        )
    )
    @include M(
        (
            '.course-item{':(
                margin-bottom: 26px
            )
        )
    )
    @include S(
        (
            '.course-item{':(
                margin-bottom: 26px
            )
        )
    )
}
.course-title{
    font-family: $fontfamily;
    font-weight: normal;
    color: #797979;
    line-height: 1.5;
    @include L(
        (
            '.course-title':(
                font-size: 22px
            )
        )
    )
    @include M(
        (
            '.course-title':(
                font-size: 22px
            )
        )
    )
    @include S(
        (
            '.course-title':(
                font-size: 22px
            )
        )
    )
}
.course-content{
    font-family: $fontfamily;
    font-weight: normal;
    color: #1e8993;
    line-height: 1.5;
    @include L(
        (
            '.course-content':(
                font-size: 28px
            )
        )
    )
    @include M(
        (
            '.course-content':(
                font-size: 28px
            )
        )
    )
    @include S(
        (
            '.course-content':(
                font-size: 28px
            )
        )
    )
}
#teacher-box{
    position: relative;
    height: auto;
    margin: 0 auto;
    background-color: #eee;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    overflow: hidden;
    @include L(
        (
            '#teacher-box':(
                width: 1170px,
                padding: 0 0 42px 0
            )
        )
    )
    @include M(
        (
            '#teacher-box':(
                width: 372px,
                padding: 0 0 42px 0
            )
        )
    )
    @include S(
        (
            '#teacher-box':(
                width: 372px,
                padding: 0 0 42px 0
            )
        )
    )
}
#teacher-0{
    position: relative;
    width: auto;
    @include L(
        (
            '#teacher-0':(
                margin: 76px 106px 31px 106px
            )
        )
    )
    @include M(
        (
            '#teacher-0':(
                margin: 76px 30px 31px 30px
            )
        )
    )
    @include S(
        (
            '#teacher-0':(
                margin: 76px 30px 31px 30px
            )
        )
    )
    &:after{
        content: "";
        position: relative;
        clear: both;
        display: block;
    }
}
#ryan{
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 6px solid #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    @include L(
        (
            '#ryan':(
                width: 146px,
                height: 146px,
                margin: 0 56px 0 0,
                float: left
            )
        )
    )
    @include M(
        (
            '#ryan':(
                width: 146px,
                height: 146px,
                margin: 0 auto 30px auto
            )
        )
    )
    @include S(
        (
            '#ryan':(
                width: 146px,
                height: 146px,
                margin: 0 auto 30px auto
            )
        )
    )
}
#ryan-info{
    position: relative;
    float: left;
    h3{
        font-family: $fontfamily;
        font-weight: 700;
        color: #1e8993;
        line-height: 1.5;
        @include L(
            (
                '#ryan-info h3':(
                    font-size: 35px
                )
            )
        )
        @include M(
            (
                '#ryan-info h3':(
                    font-size: 35px
                )
            )
        )
        @include S(
            (
                '#ryan-info h3':(
                    font-size: 35px
                )
            )
        )
    }
    p{
        font-family: $fontfamily;
        font-weight: 700;
        color: #797979;
        line-height: 1.5;
        @include L(
            (
                '#ryan-info p':(
                    font-size: 22px
                )
            )
        )
        @include M(
            (
                '#ryan-info p':(
                    font-size: 22px
                )
            )
        )
        @include S(
            (
                '#ryan-info p':(
                    font-size: 22px
                )
            )
        )
    }
}
#teacher-1{
    position: relative;
    li{
        font-family: $fontfamily;
        font-weight: 700;
        color: #797979;
        line-height: 1.5;
        @include L(
            (
                '#teacher-1':(
                    top: -9px,
                    float: left
                )
            )
        )
        @include M(
            (
                '#teacher-1':(
                    top: -9px,
                    margin: 0 30px
                )
            )
        )
        @include S(
            (
                '#teacher-1':(
                    top: -9px,
                    margin: 0 30px
                )
            )
        )
        @include L(
            (
                '#teacher-1 li':(
                    font-size: 22px,
                    margin: auto auto 18px 120px
                )
            )
        )
        @include M(
            (
                '#teacher-1 li':(
                    font-size: 22px,
                    margin: auto auto 18px 0px
                )
            )
        )
        @include S(
            (
                '#teacher-1 li':(
                    font-size: 22px,
                    margin: auto auto 18px 0px
                )
            )
        )
        span{
            color: #1e8993;
            display: inline-block;
            width: 15px;
            text-align: right;
            margin: 0 6px 0 -21px;
        }
    }
}
.say-box{
    position: relative;
    left: 0;
    top: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    font-family: $fontfamily;
    font-weight: 700;
    background-color: #fff;
	@include L(
		(
			'.say-box':(
                width: 372px,
                height: 815px,
                margin: ( 1200px - 3 * 372px ) / 6,
                float: left
            )
		)
	)
	@include M(
		(
			'.say-box':(
                width: 372px,
                height: 815px,
                margin: 0 auto 30px auto
            )
		)
	)
	@include S(
		(
			'.say-box':(
                width: 372px,
                height: 815px,
                margin: 0 auto 30px auto
            )
		)
    )
    h3{
        position: relative;
        color: #1e8993;
        font-size: 31px;
        text-align: center;
        line-height: (47/28);
        box-sizing: border-box;
        @include L(
            (
                '.say-box h3':(
                    height: 258px
                )
            )
        )
        @include M(
            (
                '.say-box h3':(
                    height: 258px
                )
            )
        )
        @include S(
            (
                '.say-box h3':(
                    height: 258px
                )
            )
        )
        svg{
            position: absolute;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            margin: auto;
            display: block;
        }
    }
    p{
        font-family: $fontfamily;
        font-weight: normal;
        color: #797979;
        line-height: ( 34 / 20 );
        text-align: justify;
        @include L(
            (
                '.say-box p':(
                    font-size: 20px,
                    padding: 0 32px
                )
            )
        )
        @include M(
            (
                '.say-box p':(
                    font-size: 20px,
                    padding: 0 32px
                )
            )
        )
        @include S(
            (
                '.say-box p':(
                    font-size: 20px,
                    padding: 0 32px
                )
            )
        )
    }
}
.say-people{
    position: absolute;
    width: 100%;
    height: 233px;
    left: 0;
    bottom: 0;
}
.say-photo{
    position: absolute;
    width: 88px;
    height: 88px;
    left: 0px;
    right: 0px;
    top: 0px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.45);
}
.say-title{
    position: absolute;
    width: 100%;
    height: 143px;
    left: 0px;
    bottom: 0px;
    p{
        font-family: $fontfamily;
        font-weight: 700;
        color: #1e8993;
        text-align: center;
        line-height: 1.5;
        font-size: 22px;
    }
}

#faq{
    position: relative;
    display: block;
	@include L(
		(
			'#faq':(
                margin-left: 32px,
                float: left
            )
		)
	)
	@include M(
		(
			'#faq':(
                margin: 0 auto
            )
		)
	)
	@include S(
		(
			'#faq':(
                margin: 0 auto
            )
		)
	)
}
#faq-list{
    position: relative;
    li{
        font-family: $fontfamily;
        font-weight: normal;
        line-height: 1.5;
        &:nth-child(2n+1){
            color: #797979;
        }
        &:nth-child(2n){
            color: #1e8993;
        }
        @include L(
            (
                '#faq-list':(
                    top: -9px,
                    width: 757px,
                    float: left
                )
            )
        )
        @include M(
            (
                '#faq-list':(
                    top: -9px,
                    width: 372px,
                    margin: 50px auto 0 auto
                )
            )
        )
        @include S(
            (
                '#faq-list':(
                    top: -9px,
                    width: 372px,
                    margin: 50px auto 0 auto
                )
            )
        )
        @include L(
            (
                '#faq-list li':(
                    font-size: 22px,
                    margin: auto auto 18px 90px
                )
            )
        )
        @include M(
            (
                '#faq-list li':(
                    font-size: 22px,
                    margin: auto auto 18px 0
                )
            )
        )
        @include S(
            (
                '#faq-list li':(
                    font-size: 22px,
                    margin: auto auto 18px 0
                )
            )
        )
        span{
            color: inherit;
            display: inline-block;
            width: 15px;
            text-align: right;
            margin: 0 6px 0 -21px;
        }
    }
}
#more-q{
    position: relative;
    font-family: $fontfamily;
    font-weight: 700;
    color: #1e8993;
    text-align: center;
    line-height: 1.5;
	@include L(
		(
			'#more-q':(
                font-size: 28px,
                margin: 67px auto 79px auto
            )
		)
	)
	@include M(
		(
			'#more-q':(
                font-size: 28px,
                margin: 67px auto 79px auto
            )
		)
	)
	@include S(
		(
			'#more-q':(
                font-size: 28px,
                margin: 67px auto 79px auto
            )
		)
	)
}
#cta-btn{
    position: relative;
    width: 314px;
    height: 73px;
    left: 0px;
    top: 0px;
    background-color: #1e8993;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.45);
    cursor: pointer;
    p{
        position: relative;
        font-family: $fontfamily;
        font-weight: normal;
        color: #fff;
        text-align: center;
        line-height: 1.5;
        font-size: 32px;
    }
    svg{
        position: relative;
        top: -3px;
    }
}
#smoke-box{
    overflow: hidden;
    svg{
        position: relative;
        left: 50%;
        margin-left: -0.5 * 1200px;
    }
}

#now-state{
    position: relative;
    font-family: $fontfamily;
    font-weight: 700;
    color: #797979;
    text-align: center;
    line-height: 1.5;
	@include L(
		(
			'#now-state':(
                font-size: 28px,
                margin: 67px auto 79px auto
            )
		)
	)
	@include M(
		(
			'#now-state':(
                font-size: 28px,
                margin: 67px auto 79px auto
            )
		)
	)
	@include S(
		(
			'#now-state':(
                font-size: 28px,
                margin: 67px auto 79px auto
            )
		)
	)
}
.future-class-box{
    position: relative;
	@include L(
		(
			'.future-class-box':(
                width: 382px,
                margin: 0 0 0 32px,
                float: left
            )
		)
	)
	@include M(
		(
			'.future-class-box':(
                width: 382px,
                margin: 0 auto
            )
		)
	)
	@include S(
		(
			'.future-class-box':(
                width: 382px,
                margin: 0 auto
            )
		)
    )
    svg{
        position: relative;
        display: block;
        margin: 0 auto;
    }
}
.future-word{
    position: relative;
    font-family: $fontfamily;
    font-weight: normal;
    color: #1e8993;
    text-align: center;
    line-height: 1.5;
    font-size: 32px;
}
.interest-btn{
    position: relative;
    width: 314px;
    height: 73px;
    left: 0px;
    top: 0px;
    background-color: #1e8993;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.45);
    cursor: pointer;
    p{
        position: relative;
        font-family: $fontfamily;
        font-weight: normal;
        color: #fff;
        text-align: center;
        line-height: 1.5;
        font-size: 32px;
    }
    svg{
        position: relative;
        top: -3px;
    }
    @include L(
        (
            '.interest-btn':(
                margin: 28px 0 0 64px,
                float: left
            )
        )
    )
    @include M(
        (
            '.interest-btn':(
                margin: 28px auto 0 auto
            )
        )
    )
    @include S(
        (
            '.interest-btn':(
                margin: 28px auto 0 auto
            )
        )
    )
}
.content-list{
    position: relative;
    li{
        font-family: $fontfamily;
        font-weight: normal;
        color: #797979;
        line-height: 1.5;
        @include L(
            (
                '.content-list':(
                    top: -9px,
                    width: 738px,
                    float: right
                )
            )
        )
        @include M(
            (
                '.content-list':(
                    top: -9px,
                    width: 372px,
                    margin: 50px auto 0 auto
                )
            )
        )
        @include S(
            (
                '.content-list':(
                    top: -9px,
                    width: 372px,
                    margin: 50px auto 0 auto
                )
            )
        )
        @include L(
            (
                '.content-list li':(
                    font-size: 22px,
                    margin: auto auto 18px 72px
                )
            )
        )
        @include M(
            (
                '.content-list li':(
                    font-size: 22px,
                    margin: auto auto 0px 0
                )
            )
        )
        @include S(
            (
                '.content-list li':(
                    font-size: 22px,
                    margin: auto auto 0px 0
                )
            )
        )
        span{
            color: #1e8993;
        }
    }
    >li{
        >span{
            display: inline-block;
            width: 34px;
            text-align: right;
            margin: 0 5px 0 -40px;
        }
        >ul{
            padding-top: 18px;
            >li{
                margin-left: 24px;
                >span{
                    display: inline-block;
                    width: 34px;
                    text-align: right;
                    margin: 0 5px 0 -40px;
                }
            }
        }
    }
}
.future-box{
    @include L(
        (
            '.future-box':(
                margin: 0 0 60px 0
            )
        )
    )
    @include M(
        (
            '.future-box':(
                margin: 0 0 120px 0
            )
        )
    )
    @include S(
        (
            '.future-box':(
                margin: 0 0 120px 0
            )
        )
    )
    &:after{
        content: "";
        position: relative;
        clear: both;
        display: block;
    }
}
.footer{
    position: relative;
    width: 100%;
    background-color: #eee;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    @include L(
        (
            '.footer':(
                height: 410px
            )
        )
    )
    @include M(
        (
            '.footer':(
                height: auto,
                padding-bottom: 100px
            )
        )
    )
    @include S(
        (
            '.footer':(
                height: auto,
                padding-bottom: 100px
            )
        )
    )
}
#fanpage{
    position: relative;
    display: block;
    @include L(
        (
            '#fanpage':(
                float: left,
                margin: 51px 0 0 65px
            )
        )
    )
    @include M(
        (
            '#fanpage':(
                margin: 51px auto 0 auto
            )
        )
    )
    @include S(
        (
            '#fanpage':(
                margin: 51px auto 0 auto
            )
        )
    )
    &:after{
        content: "";
        position: relative;
        clear: both;
        display: block;
    }
}
#footer-word{
    position: relative;
    display: block;
    font-family: $fontfamily;
    font-weight: normal;
    color: #797979;
    line-height: 1.5;
    font-size: 20px;
    box-sizing: border-box;
    text-align: justify;
    @include L(
        (
            '#footer-word':(
                width: 735px,
                float: left,
                margin: 51px 0 0 59px,
                padding: 0 15px 0 0 
            )
        )
    )
    @include M(
        (
            '#footer-word':(
                width: 372px,
                margin: 31px auto 0 auto,
                padding: 0 30px 
            )
        )
    )
    @include S(
        (
            '#footer-word':(
                width: 372px,
                margin: 31px auto 0 auto,
                padding: 0 30px 
            )
        )
    )
}
#footer-line{
    position: relative;
    width: auto;
    height: 1px;
    background-color: #1e8993;
    @include L(
        (
            '#footer-line':(
                margin: 56px 15px 0 15px
            )
        )
    )
    @include M(
        (
            '#footer-line':(
                margin: 56px 15px 0 15px
            )
        )
    )
    @include S(
        (
            '#footer-line':(
                margin: 56px 15px 0 15px
            )
        )
    )
}
#copyright{
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    @include L(
        (
            '#copyright':(
                height: 89px
            )
        )
    )
    @include M(
        (
            '#copyright':(
                height: auto
            )
        )
    )
    @include S(
        (
            '#copyright':(
                height: auto
            )
        )
    )
}
#footer-logo{
    width: 127px;
    height: auto;
    top: 0px;
    display: block;
    @include L(
        (
            '#footer-logo':(
                position: absolute,
                left: 26px,
                bottom: 0px,
                margin: auto 0
            )
        )
    )
    @include M(
        (
            '#footer-logo':(
                position: relative,
                margin: 20px auto 0 auto
            )
        )
    )
    @include S(
        (
            '#footer-logo':(
                position: relative,
                margin: 20px auto 0 auto
            )
        )
    )
}
#copyright-word{
    @include L(
        (
            '#copyright-word':(
                position: absolute,
                width: 387px,
                height: 89px,
                right: 26px
            )
        )
    )
    @include M(
        (
            '#copyright-word':(
                position: relative,
                height: 50px,
                margin: 0 auto
            )
        )
    )
    @include S(
        (
            '#copyright-word':(
                position: relative,
                height: 50px,
                margin: 0 auto
            )
        )
    )
    p{
        font-family: $fontfamily;
        font-weight: normal;
        color: #797979;
        line-height: 1.5;
        font-size: 14px;
    }
    @include L(
        (
            '#copyright-word p':(
                text-align: right
            )
        )
    )
    @include M(
        (
            '#copyright-word p':(
                text-align: center
            )
        )
    )
    @include S(
        (
            '#copyright-word p':(
                text-align: center
            )
        )
    )
}
#go-top{
    position: fixed;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.45);
    background-color: #1e8993;
    cursor: pointer;
    z-index: 1;
    @include L(
        (
            '#go-top':(
                width: 84px,
                height: 84px,
                right: 26px,
                bottom: 36px
            )
        )
    )
    @include M(
        (
            '#go-top':(
                width: 84px,
                height: 84px,
                right: 16px,
                bottom: 36px + 50px,
                transform-origin: 100% 100%,
                transform: scale(0.7)
            )
        )
    )
    @include S(
        (
            '#go-top':(
                width: 84px,
                height: 84px,
                right: 16px,
                bottom: 36px + 50px,
                transform-origin: 100% 100%,
                transform: scale(0.7)
            )
        )
    )
    span{
        font-family: $fontfamily;
        font-weight: normal;
        color: #fff;
        text-align: center;
        line-height: 1.5;
        font-size: 22px;
    }
}
#cta-side-btn-box{
    position: fixed;
    cursor: pointer;
    z-index: 1;
    @include L(
        (
            '#cta-side-btn-box':(
                width: 84px,
                height: 308px,
                right: 26px,
                top: 50%,
                margin-top: -0.5 * 308px,
                background-color: #1e8993,
                border-radius: 10px,
                box-shadow: 0px 0px 10px rgba(0,0,0,0.45)
            )
        )
    )
    /******460px******/
    @include M(
        (
            '#cta-side-btn-box':(
                width: 460px,
                padding-bottom: calc( 460px * ( 122 / 767 ) ),
                left: 0,
                right: 0,
                bottom: 0,
                margin: 0 auto
            )
        )
    )
    /******372px******/
    @include S(
        (
            '#cta-side-btn-box':(
                width: 100%,
                padding-bottom: calc( 100% * ( 122 / 767 ) ),
                left: 0,
                right: 0,
                bottom: 0,
                margin: 0 auto
            )
        )
    )
}
.cta-side-btn{
    background: transparent;
    cursor: pointer;
    z-index: 1;
    &#cta-side-btn-box-0{
        &:after{
            content: "";
            display: block;
            width: 65px;
            height: 1px;
            background-color: #fff;
            margin: 0 auto;
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }
    }
    @include L(
        (
            '.cta-side-btn':(
                position: relative,
                width: 100%
            )
        )
    )
    @include M(
        (
            '.cta-side-btn':(
                position: absolute,
                width: 100%
            )
        )
    )
    @include S(
        (
            '.cta-side-btn':(
                position: absolute,
                width: 100%
            )
        )
    )
    @include L(
        (
            '#cta-side-btn-box-0':(
                height: 146px
            )
        )
    )
    @include M(
        (
            '#cta-side-btn-box-0':(
                width: 100% * ( 511 / 767 ),
                height: calc( 100% - 2px ),
                background-color: #1e916f,
                border-radius: 10px,
                left: 1px,
                top: 1px
            )
        )
    )
    @include S(
        (
            '#cta-side-btn-box-0':(
                width: 100% * ( 511 / 767 ),
                height: calc( 100% - 2px ),
                background-color: #1e916f,
                border-radius: 10px,
                left: 1px,
                top: 1px
            )
        )
    )
    @include L(
        (
            '#cta-side-btn-box-1':(
                height: 158px
            )
        )
    )
    @include M(
        (
            '#cta-side-btn-box-1':(
                width: 100% * ( 250 / 767 ),
                height: calc( 100% - 2px ),
                background-color: #1e8993,
                border-radius: 10px,
                right: 1px,
                top: 1px
            )
        )
    )
    @include S(
        (
            '#cta-side-btn-box-1':(
                width: 100% * ( 250 / 767 ),
                height: calc( 100% - 2px ),
                background-color: #1e8993,
                border-radius: 10px,
                right: 1px,
                top: 1px
            )
        )
    )
    span{
        font-family: $fontfamily;
        font-weight: normal;
        color: #fff;
        text-align: center;
        line-height: 1.4;
        display: inline-block;
        @include L(
            (
                '.cta-side-btn span':(
                    font-size: 22px,
                    padding-top: 6px
                )
            )
        )
        @include M(
            (
                '.cta-side-btn span':(
                    vertical-align: top,
                    padding-left: 5px,
                    font-size: 18px
                )
            )
        )
        @include S(
            (
                '.cta-side-btn span':(
                    vertical-align: top,
                    padding-left: 5px,
                    font-size: 14px
                )
            )
        )
    }
    @include L(
        (
            '.cta-side-btn svg + br':(
            )
        )
    )
    @include M(
        (
            '.cta-side-btn svg + br':(
                display: none
            )
        )
    )
    @include S(
        (
            '.cta-side-btn svg + br':(
                display: none
            )
        )
    )
}
#cart{
    @include L(
        (
            '#cart':(
            )
        )
    )
    @include M(
        (
            '#cart':(
                width: 100% * ( 59 / 511 ) 
            )
        )
    )
    @include S(
        (
            '#cart':(
                width: 100% * ( 59 / 511 ) 
            )
        )
    )
}
#messenger{
    @include L(
        (
            '#messenger':(
            )
        )
    )
    @include M(
        (
            '#messenger':(
                width: 100% * ( 59 / 250 ) 
            )
        )
    )
    @include S(
        (
            '#messenger':(
                width: 100% * ( 59 / 250 ) 
            )
        )
    )
}
@include rwd;