
<input type="radio" id="close_active" class="close_active" name="navAndPopup">
<input type="radio" id="menu_active" class="menu_active" name="navAndPopup">
<nav class="menu nav">
	<label for="menu_active">
        <span class="menu_bg bg"></span>
    </label>
    <ul class="menu_list">
        <li class="menu_item btn btn-hover">
            <a onclick="" href="javascript:void(0)"><p>幫QQ</p></a>
            <ul class="menu_list sub-menu_list">
                <li></li>
                <li></li>
            </ul>
        </li>
    </ul> 
</nav>
